  <launch>
    <arg name="robot_name" default="urdf_1"/>
    <arg name="robot_file" default="$(find urdf_description)/robot/URDF_Test.xacro"/>

    <include file="$(find urdf_gazebo)/launch/robot_state_publisher.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="robot_file" value="$(arg robot_file)"/>
    </include>
  </launch>   

  